@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Montserrat
 */
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Bold.ttf');
  font-weight: bold;
}

/* 
  Noto Sans KR 
*/

@font-face {
  font-family: 'Noto Sans KR';
  src: url('fonts/NotoSansKR-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('fonts/NotoSansKR-Bold.ttf');
  font-weight: bold;
}

body {
  padding-top: 64px;
  font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
